*{
  background-color: rgb(237, 241, 235);
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

h1{
  font-style: italic;
  text-align: center;
  color: royalblue;
  hover: black;
}
p{
  color: brown;
  
}
